$designWidth : 375;
@import "~hotcss/src/px2rem";
html,body{ background-color: #F0F0F0;}

#RootApp{ font-size: px2rem(12);}
.s-wrapper{
  margin: 0 auto;
}
.sweet-list{ list-style: none;}
.sweet-list li{ display: block; float: left; width: 50%; box-sizing: border-box; margin-top: px2rem(15);}
.sw-ww{ background-color: #FFFFFF;}
.sweet-b{
  width: px2rem(375);
  height: px2rem(60);
  background: url("./img/banner.png") no-repeat left top;
  background-size: cover;
}

.sbox{ width: px2rem(170); height: px2rem(170); margin: 0 auto;
  box-sizing: border-box; border: 1px #E6E6E6 solid;
  border-radius: px2rem(4);

}
.sbox-t{
  height: px2rem(134);
  overflow: hidden;
  position: relative;
  background:url("./img/mm.png") no-repeat left top;
  background-size: cover;
}
.sbox-b{ height: px2rem(36); overflow: hidden; width: 100%; display: table;}
.sbox-b span{ display: table-cell; padding-left: px2rem(5); padding-right: px2rem(5);vertical-align: middle;}
.sbox-b span.r{ text-align: right;}
.sbox-b span label{ font-size: px2rem(16); color: #333333;}
.sbox-b span i{ font-size: px2rem(12); color: #999999;}

.sbox-t .icon-x{ position: absolute; right: 0px; top:px2rem(15); width: px2rem(36); height: px2rem(20); display: inline-block;}
.sbox-t .icon-x1{ position: absolute; left: px2rem(8); bottom: px2rem(30); width: px2rem(44); height: px2rem(20); display: inline-block;}

.sbox-t .icon-m3{ background: url("./img/icon_3.png") no-repeat left top;background-size: cover; }
.sbox-t .icon-m4{ background: url("./img/icon_4.png") no-repeat left top; background-size: cover;}
.sbox-t .icon-m5{ background: url("./img/icon_5.png") no-repeat left top;background-size: cover;}
.sbox-t .icon-m6{ background: url("./img/icon_6.png") no-repeat left top;background-size: cover;}

.sbox-t .tip{ position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: px2rem(24); }
.sbox-t .tip-c{ position: relative;}
.sbox-t .tip p{background-color: #000000; opacity: 0.3; height: px2rem(24); position: absolute; left: 0;
  top: 0; width: 100%;}
.sbox-t .tip-txt{ color: #FFFFFF; font-size: px2rem(10); height: px2rem(24); line-height: px2rem(24); z-index: 4; position: relative;}

label.icon-sex{ position: relative; width: px2rem(30); display: inline-block; text-indent: px2rem(12);
  color: #ff5375;
}
label.icon-sex:after{
  content: " dd"; text-indent: -9999em; display: inline-block; width: px2rem(10); height: px2rem(9);
  position: absolute;
  margin: auto;
  top:0; bottom: 0;
  left: 0;
}
label.icon-sex1:after{ background: url("./img/icon_2.png") no-repeat left top; background-size: cover;
}
i.icon-site{position: relative; display:inline-block; height: px2rem(32);; line-height: px2rem(32); text-indent: px2rem(15);}
i.icon-site:after{
  content: " ";
  text-indent: -9999em;
  display: inline-block;
  width: px2rem(11);
  height: px2rem(12);
  position: absolute;
  margin: auto;
  top:0; bottom: 0;
  left: 0;
  background: url("./img/icon_1.png") no-repeat left top; background-size: cover;
}

.s-tbox{ clear: both;
 padding: px2rem(10);
  height: px2rem(18);
  overflow: hidden;
}
.s-tbox .left{float: left; background: url(./img/icon_8.png) no-repeat left top; background-size: cover;
  width: px2rem(85); height: px2rem(20);
}
.s-tbox .right{ float: right; width: px2rem(140); height: px2rem(28);
  background: url("./img/icon_7.png") no-repeat left top; background-size: cover;
}

.tip-down{ display: block;
  width:px2rem(375);
  height: px2rem(80);
  background: url("./img/icon_d.png") no-repeat center center;
  background-size: cover;
  position: fixed;
  z-index: 9999;
  bottom: 0;

}

.sweet-swiper{ width: 100%; height: px2rem(240)}
.swiper-slide,.swiper-container{ width: 100%; height: 100%;}
.swiper-slide img{width: 100%;height: auto;}


.sw-box{ background-color: #FFFFFF; margin-top: px2rem(15);}
.sw-box-title{ height: px2rem(40);  padding-left: px2rem(15); padding-right: px2rem(8);
  position: relative;
  overflow: hidden;
}
.sw-box-title i{ display: inline-block; width: px2rem(16); height: px2rem(40);
  background: url("./img/icon_borrow.png") no-repeat center center; background-size: 60%;
  float: right;
}

.sw-box-title h4{height: px2rem(40); padding-left: px2rem(8); line-height: px2rem(40); position: relative; font-size: px2rem(14);}
.sw-box-title h4:after{ content: " ";
  height: px2rem(12);
  width: px2rem(2);
  background-color: #FF5375;
  border-radius: px2rem(5);
  display: block;
  position: absolute;
  left: 0; margin: auto;
  top: 0; bottom: 0;
}

.sw-item-box{ display: flex;}
.sw-item{ flex: 1;padding-left: px2rem(5);padding-right: px2rem(5); text-align: center; padding-bottom: px2rem(15);
}
.sw-item-box .sw-item:first-child{padding-left: px2rem(15);}
.sw-item-box .sw-item:last-child{padding-right: px2rem(15);}
.sw-item-box .sw-item-small{}
.sw-item img{ width: 100%; height: auto; }

.sw-item .item-box{ height: 100%; position: relative;}
.sw-item .item-mask{ position: absolute; margin: auto; left: 0; right: 0; bottom: 0;top: 0;}
.sw-item .item-play{ position: absolute; margin: auto;
  left: 0;right: 0; bottom: 0;top: 0;
  background: url("./img/icon_play.png") no-repeat center center;
  width: px2rem(32); height: px2rem(32);
  background-size: cover;
}


.sw-item .item-lock{ position: absolute; margin: auto;
  left: 0;right: 0; bottom: 0;top: 0;
  background: url("./img/icon-lock.png") no-repeat center center;
  width: px2rem(30); height: px2rem(30);
  background-size: contain;
}



.sw-item .item-score{ background: #FF5375; height: px2rem(24); position: absolute; width: 100%;
  color: white;line-height: px2rem(24);
  bottom: 0;
}

.sw-lables{ display: block; background-color: #FFFFFF; padding: px2rem(15);}
.sw-lables li{ display: block; height: px2rem(20); line-height: px2rem(20); font-size: px2rem(11)}
.sw-lables label{ color: #999999;}

.sw-swiper-box{ position: relative;}
.swiper-box{ width: px2rem(100); height: px2rem(60);  position: absolute; right: px2rem(15); z-index: 8;}
.sw-icon-9{ background: url("./img/icon_9.png") no-repeat center center;background-size: contain; bottom: px2rem(75);}
.sw-icon-10{ background: url("./img/icon_10.png") no-repeat center center;background-size: contain; bottom: px2rem(15);}
.sw-icon-100{ background: url("./img/icon_100.png") no-repeat center center; background-size: cover; width: px2rem(80); height: px2rem(24);
  text-align: center;
  color: #FFFFFF;
  font-size: px2rem(12);
  position: absolute;
  bottom: px2rem(8);
  left: px2rem(20);
  line-height: px2rem(24);
  z-index: 8;
}

// 详情页 mm信息组件
.sw-mm-info{ display: table; width: 100%; height: px2rem(80); background-color: #FFFFFF;
}
.sw-mm-line{ background-color: #D8D8D8; margin-left: px2rem(15);  margin-right: px2rem(15); height: px2rem(1);}
.mm-info-cell{ display: table-cell; vertical-align: middle;}
.sw-mm-info .first-cell{ width: 80%; padding-left: px2rem(15);}
.sw-mm-info .last-cell{ width: 20%; padding-right: px2rem(15);}
.sw-icon-follow{ display: inline-block; width: px2rem(72); height: px2rem(32);
  background: url("./img/icon-follow.png") no-repeat center center;
  background-size: cover;
  text-indent: -9999em;
}
.infos h4{ color: #333333; display: inline-block; height: px2rem(24); line-height: px2rem(24);}
.infos label{ border-radius: px2rem(15);  text-align: center;
  color: #FF5375;
  position: relative;
  height: px2rem(24); line-height: px2rem(24);
  padding-left: px2rem(8);
  padding-right: px2rem(8);
  display: inline-block; border: 1px solid #FFFFFF;
  overflow: hidden;
}
.infos label:after{ display: inline-block; content: " "; position: absolute;
  margin: auto;left: 0; right: 0; top:0; bottom: 0;
  background-color: #FF5375;
  opacity: 0.2;
}
.infos label.title{ padding-left: 0; background-color: #FFFFFF; color: black; font-size: px2rem(14); text-align: left;
width: px2rem(42);
}
.infos label.title:after{ display: none;}
.info-small-text{color: #999999; height: px2rem(20); line-height: px2rem(20);}

//详情页面 底部按扭
.sw-btns{ display: table; height: px2rem(50); width: 100%;}
.sw-btns a{ display: table-cell; position: relative;
  background-color: #FF5375; height: px2rem(50); vertical-align: middle; color: #FFFFFF;}
.sw-btns a.btn1{ width: 24%;   background: url("./img/btn_3.png") no-repeat center center #ff5375;background-size: 30%; text-indent: -999em;}
.sw-btns a.btn2{ width: 38%; background: url("./img/btn_2.png") no-repeat center center #ff5375; background-size: 50%; text-indent: -999em;}
.sw-btns a.btn3{ width: 38%;background: url("./img/btn_1.png") no-repeat center center #ff5375; background-size: 50%; text-indent: -999em;}

.sw-btns a.no-cur:after{ margin:auto;content: " "; position: absolute;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  bottom: 0;
  width: px2rem(1);
  height: px2rem(20);
}


.sw-img-number,.sw-img-fans{display: block; padding-left: px2rem(10); padding-right: px2rem(10);}
.sw-img-number .img-wrapper{ display: flex;}
.img-wrapper .sw-img-item{ flex: 1; width: px2rem(55); height: px2rem(55); position: relative; padding: px2rem(5)}
.img-wrapper img{ width: 100%; height: auto;}
.img-wrapper i{ position: absolute; display: inline-block; width: px2rem(16); height: px2rem(16);
  border-radius: 50%; background-color: red; right: 0;
  top: px2rem(-5);
  color: #FFFFFF;
  text-align: center;
  line-height: px2rem(16);
}

.sw-img-item .img-small{
  width: px2rem(50);
  height: px2rem(50);}

.sw-img-fans .fans-box{ display: flex;}
.fans-box .fans-item{ flex: 1;width: px2rem(55); height: px2rem(80); position: relative; padding: px2rem(5); overflow: hidden;}
.fans-item img{ width: 100%; height: auto;}
.fans-item i{ display: block; margin: 0 auto; width: px2rem(60); height: px2rem(20);
  line-height: px2rem(20);
}

i.btn-radius{margin: 0 auto; border-radius: px2rem(10);  text-align: center;
  color: #FF5375;
  position: relative;
  width: px2rem(59);
  height: px2rem(20); line-height: px2rem(20);
  display: inline-block; border: 1px solid #FFFFFF;
  overflow: hidden;
  box-sizing: border-box;
}
i.btn-radius:after{ display: inline-block; content: " "; position: absolute;
  margin: auto;left: 0; right: 0; top:0; bottom: 0;
  background-color: #FF5375;
  opacity: 0.2;
}

//文明公约页面
.ui-sw-o{ background: url("./img/img_bg.png"); height: 100%;}
.ui-sw-c{
  background: url("./img/img001.png") no-repeat top center;
  background-size: cover;
  height: px2rem(512);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.ui-sw-cc{ position: relative;padding-top: px2rem(224);}

.ui-sw-cc .cc-b{
  margin:0 auto;
  background-color: #FFFFFF; border-radius: px2rem(5); width: px2rem(351); min-height: px2rem(582);
  z-index: 2;
  position: relative;

}
.ui-sw-cc p.cc-f1{ color: #666666; font-size: px2rem(12); width: px2rem(318); margin: 0 auto;
  padding-top: px2rem(15);
  padding-bottom: px2rem(15);
  line-height: px2rem(18);
}
.ui-sw-cc .cc-bt{
  margin: 0 auto;
  border-color: #FF5375;
  border-style: solid;
  border-width: px2rem(1);
  border-radius: px2rem(5);
  width: px2rem(340);
  min-height: px2rem(408);
}
.ui-sw-cc .cc-list{
  list-style: none;
}
.cc-list li{
 position: relative;
  min-height: px2rem(40);
  padding-left: px2rem(50);
  font-size: px2rem(14);
  margin-top: px2rem(15);
}
.cc-list li i{
  background: url("./img/icon-tag.png") no-repeat center center;
  background-size: cover;
  width: px2rem(38);
  height: px2rem(26);
  line-height: px2rem(26);
  font-size: px2rem(16);
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  position: absolute;
  left:-9px;
}


.sw-p1{ width: px2rem(375); height: px2rem(177);
  background: url("./img/p001.png") no-repeat center center;
  background-size: cover;
}

.sw-p2{ width: px2rem(375); height: px2rem(177);
  background: url("./img/p002.png") no-repeat center center;
  background-size: cover;
}

.sw-p3{ width: px2rem(375); height: px2rem(363);
  background: url("./img/p003.png") no-repeat center center;
  background-size: cover;
}