$designWidth : 375;
@import "~hotcss/src/px2rem";

.sw-hw{ width: px2rem(375);}

.sw-hw-1{ height: px2rem(176); background: url("../img/hw01@2x.png") no-repeat center top; background-size: contain;}
.sw-hw-2{ height: px2rem(322); background: url("../img/hw02@2x.png") no-repeat center top; background-size: contain;}
.sw-hw-3{ height: px2rem(655); background: url("../img/hw03@2x.png") no-repeat center top; background-size: contain;}
.sw-hw-4{ height: px2rem(347); background: url("../img/hw04@2x.png") no-repeat center top; background-size: contain;}
.sw-hw-5{ height: px2rem(349); background: url("../img/hw05@2x.png") no-repeat center top; background-size: contain;}
