$designWidth : 375;
@import "~hotcss/src/px2rem";
html,body{background-color: #eee;}
.ui-m{ display: flex; }
.ui-mb{ flex: 1; width:px2rem(187); height: px2rem(200); border: 1px #eeeeee solid; box-sizing: border-box;
  background-color: #FFFFFF;
}
.ui-mb-not{ background-color: transparent;}
.mb-icon{

  margin-top: px2rem(27);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: px2rem(90);
  height: px2rem(147);
  display: block;

}
.mb-hw{

  background: url("../img/icon-hw.png") no-repeat center center #FFFFFF;
  background-size: 100%;

}

.mb-oppo{
  background: url("../img/icon-oppo.png") no-repeat center center #FFFFFF;
  background-size: 100%;
}

.mb-vivo{
  background: url("../img/icon-vivo.png") no-repeat center center #FFFFFF;
  background-size: 100%;
}

.mb-xm{
  width: px2rem(90);
  height: px2rem(147);
  background: url("../img/icon-xm.png") no-repeat center center #FFFFFF;
  background-size: 100%;
}

.mb-xm1{
  width: px2rem(90);
  height: px2rem(147);
  background: url("../img/icon-xm1.png") no-repeat center center;
  background-size: 100%;
}