$designWidth : 375;
@import "~hotcss/src/px2rem";
.sw-mz{ width: px2rem(375);}

.sw-mz-1{ height: px2rem(168); background: url("../img/mz01@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-2{ height: px2rem(318); background: url("../img/mz02@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-3{ height: px2rem(328); background: url("../img/mz03@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-4{ height: px2rem(322); background: url("../img/mz04@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-5{ height: px2rem(353); background: url("../img/mz05@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-6{ height: px2rem(335); background: url("../img/mz06@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-7{ height: px2rem(347); background: url("../img/mz07@2x.png") no-repeat center center; background-size: cover;}
.sw-mz-8{ height: px2rem(342); background: url("../img/mz08@2x.png") no-repeat center center; background-size: cover;}

