$designWidth : 375;
@import "~hotcss/src/px2rem";

.sw-op{ width: px2rem(375);}

.sw-op-1{ height: px2rem(180); background: url("../img/op01@2x.png") no-repeat center center; background-size: cover;}
.sw-op-2{ height: px2rem(315); background: url("../img/op02@2x.png") no-repeat center center; background-size: cover;}
.sw-op-3{ height: px2rem(330); background: url("../img/op03@2x.png") no-repeat center center; background-size: cover;}
.sw-op-4{ height: px2rem(347); background: url("../img/op04@2x.png") no-repeat center center; background-size: cover;}
.sw-op-5{ height: px2rem(374); background: url("../img/op05@2x.png") no-repeat center center; background-size: cover;}
.sw-op-6{ height: px2rem(348); background: url("../img/op06@2x.png") no-repeat center center; background-size: cover;}
.sw-op-7{ height: px2rem(397); background: url("../img/op07@2x.png") no-repeat center center; background-size: cover;}
.sw-op-8{ height: px2rem(342); background: url("../img/op08@2x.png") no-repeat center center; background-size: cover;}
.sw-op-9{ height: px2rem(364); background: url("../img/op09@2x.png") no-repeat center center; background-size: cover;}
.sw-op-10{ height: px2rem(383); background: url("../img/op10@2x.png") no-repeat center center; background-size: cover;}

