$designWidth : 375;
@import "~hotcss/src/px2rem";

.sw-vivo{ width: px2rem(375);}
.sw-vivo-1{ height: px2rem(174); background: url("../img/vivo1.png") no-repeat center center; background-size: cover;}
.sw-vivo-2{ height: px2rem(318); background: url("../img/vivo2@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-3{ height: px2rem(318); background: url("../img/vivo3@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-4{ height: px2rem(339); background: url("../img/vivo4@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-5{ height: px2rem(341); background: url("../img/vivo5@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-6{ height: px2rem(341); background: url("../img/vivo6@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-7{ height: px2rem(354); background: url("../img/vivo7@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-8{ height: px2rem(388); background: url("../img/vivo8@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-9{ height: px2rem(346); background: url("../img/vivo9@2x.png") no-repeat center center; background-size: cover;}
.sw-vivo-10{ height: px2rem(346); background: url("../img/vivo10@2x.png") no-repeat center center; background-size: cover;}
