$designWidth : 375;
@import "~hotcss/src/px2rem";

.sw-xiaomi{ width: px2rem(375);}

.sw-xiaomi-1{ height: px2rem(177); background: url("../img/xm01@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-2{ height: px2rem(318); background: url("../img/xm02@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-3{ height: px2rem(331); background: url("../img/xm03@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-4{ height: px2rem(331); background: url("../img/xm04@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-5{ height: px2rem(354); background: url("../img/xm05@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-6{ height: px2rem(409); background: url("../img/xm06@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-7{ height: px2rem(338); background: url("../img/xm07@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-8{ height: px2rem(356); background: url("../img/xm08@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-9{ height: px2rem(677); background: url("../img/xm09@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-10{ height: px2rem(345); background: url("../img/xm10@2x.png") no-repeat center center; background-size: cover;}
.sw-xiaomi-11{ height: px2rem(336); background: url("../img/xm11@2x.png") no-repeat center center; background-size: cover;}